!!!
= render '/refinery/html_tag'
- site_bar = render('/refinery/site_bar', :head => true)
= render '/refinery/head'
%body
  .container-fluid
    = site_bar
    - if request.env['HTTP_USER_AGENT'] =~ /MSIE/
      = render '/refinery/ie6check' 
    #page_container
      %header#header
        = render '/refinery/header'
      %section#page
        = yield
      %footer
        = render '/refinery/footer'
    = render '/refinery/javascripts'
